RewriteEngine On
RewriteBase /clinic/public/

# Если файл или папка существуют, открываем их напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Все остальные запросы отправляем на index.php
RewriteRule ^(.*)$ index.php?$1 [L,QSA]